Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

test: deleteme
  apps/emqx_gateway_mqttsn/test/emqx_sn_frame_SUITE.erl
Owners: @emqx/emqx-review-board

test(dsraft): add more information about case being killed
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

test(dsraft): attempt to stabilize flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

test(dsraft): attempt to stabilize another flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

fix(certs api): allow updating account key and ca after uploading account key
  apps/emqx_management/src/emqx_mgmt_api_certs.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
Owners: @emqx/emqx-review-board

fix(managed certs): allow quic listeners to use managed certs
  apps/emqx/src/emqx_listeners.erl
  apps/emqx/src/emqx_schema.erl
  apps/emqx/test/emqx_listeners_SUITE.erl
Owners: @emqx/emqx-review-board

test: rm unused var warning
  apps/emqx/test/emqx_ds_shared_sub_mgmt_api_subscription_SUITE.erl
Owners: @emqx/emqx-review-board

feat: add support for parquet files for azure blob storage and s3 aggregated uploads
  apps/emqx_bridge_azure_blob_storage/docker-ct
  apps/emqx_bridge_azure_blob_storage/test/emqx_bridge_azure_blob_storage_SUITE.erl
  apps/emqx_bridge_s3/docker-ct
  apps/emqx_bridge_s3/test/emqx_bridge_s3_aggreg_upload_SUITE.erl
  apps/emqx_bridge_s3tables/mix.exs
  apps/emqx_connector_aggregator/mix.exs
  apps/emqx_connector_aggregator/src/emqx_connector_aggreg_delivery.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggreg_parquet.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggregator_schema.erl
  changes/ee/feat-16179.en.md
  mix.exs
  rel/i18n/emqx_connector_aggregator_schema.hocon
Owners: @emqx/emqx-review-board

docs(s3tables): fix module docs
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_aggreg_avro.erl
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_aggreg_parquet.erl
Owners: @emqx/emqx-review-board

feat(connector aggreg): support schema registry references for parquet schemas
  apps/emqx_bridge_azure_blob_storage/src/emqx_bridge_azure_blob_storage_connector.erl
  apps/emqx_bridge_azure_blob_storage/test/emqx_bridge_azure_blob_storage_SUITE.erl
  apps/emqx_bridge_s3/src/emqx_bridge_s3_connector.erl
  apps/emqx_bridge_s3/test/emqx_bridge_s3_aggreg_upload_SUITE.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggreg_delivery.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggregator_schema.erl
  apps/emqx_connector_aggregator/test/emqx_connector_aggreg_delivery_parquet_SUITE.erl
  apps/emqx_connector_aggregator/test/emqx_connector_aggregator_SUITE.erl
  apps/emqx_connector_aggregator/test/emqx_connector_aggregator_test_helpers.erl
  apps/emqx_schema_registry/src/emqx_schema_registry_schema.erl
  rel/i18n/emqx_connector_aggregator_schema.hocon
Owners: @emqx/emqx-review-board

ci: detach spark-query to separate reusable container
  .ci/docker-compose-file/docker-compose-iceberg.yaml
  .ci/docker-compose-file/docker-compose-spark-query.yaml
  apps/emqx_bridge_s3tables/docker-ct
  scripts/ct/run.sh
Owners: @emqx/emqx-review-board

chore: change default compression for s3tables action
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_action_schema.erl
Owners: @emqx/emqx-review-board

fix(s3tables): ensure records are binary key maps
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_aggreg_parquet.erl
Owners: @emqx/emqx-review-board

test(oracle): adding information to help debug flaky test
  apps/emqx_bridge_oracle/test/emqx_bridge_oracle_SUITE.erl
  apps/emqx_oracle/src/emqx_oracle.erl
  apps/emqx_resource/src/emqx_resource_manager.erl
Owners: @emqx/emqx-review-board

test(dsraft): fix yet another flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

fix(ds): Fix a typo and add some testcases for unhappy cases
  apps/emqx_ds_backends/test/emqx_ds_backends_SUITE.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
Owners: @ieQu1

ci: remove unused permissions from the docker workflow
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

chore: upgrade Kafka producer lib wolff from 4.0.9 to 4.1.0
  apps/emqx_bridge_azure_event_hub/rebar.config
  apps/emqx_bridge_confluent/rebar.config
  apps/emqx_bridge_kafka/rebar.config
  mix.exs
Owners: @emqx/emqx-review-board

docs: add changelog for PR 16206
  changes/ee/feat-16206.en.md
Owners: none

feat(Kafka): add allow_auto_topic_creation connector config
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka.app.src
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka.erl
  rel/i18n/emqx_bridge_azure_event_hub.hocon
  rel/i18n/emqx_bridge_confluent_producer.hocon
  rel/i18n/emqx_bridge_kafka.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_mgmt_api_listeners module
  apps/emqx_management/src/emqx_mgmt_api_listeners.erl
  rel/i18n/emqx_mgmt_api_listeners.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_coap_api module
  apps/emqx_gateway_coap/src/emqx_coap_api.erl
  rel/i18n/emqx_coap_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_mgmt_api_metrics module
  apps/emqx_management/src/emqx_mgmt_api_metrics.erl
  rel/i18n/emqx_mgmt_api_metrics.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_gateway_api module
  apps/emqx_gateway/src/emqx_gateway_api.erl
  rel/i18n/emqx_gateway_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_otel_api module
  apps/emqx_opentelemetry/src/emqx_otel_api.erl
  rel/i18n/emqx_otel_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_lwm2m_api module
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_api.erl
  rel/i18n/emqx_lwm2m_api.hocon
Owners: @emqx/emqx-review-board

feat: complete internationalization of emqx_authn_api module
  apps/emqx_auth/src/emqx_authn/emqx_authn_api.erl
  rel/i18n/emqx_authn_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_dashboard_monitor_api module
  apps/emqx_dashboard/src/emqx_dashboard_monitor_api.erl
  rel/i18n/emqx_dashboard_monitor_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: complete internationalization of emqx_authn_user_import_api module
  apps/emqx_auth/src/emqx_authn/emqx_authn_user_import_api.erl
  rel/i18n/emqx_authn_user_import_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_retainer_schema module
  apps/emqx_retainer/src/emqx_retainer_schema.erl
  rel/i18n/emqx_retainer_schema.hocon
Owners: @emqx/emqx-review-board

style: fix elvis style check
  apps/emqx_gateway_lwm2m/src/emqx_lwm2m_api.erl
Owners: @emqx/emqx-review-board

feat(greptimedb): add `ts_column` connector option
  .ci/docker-compose-file/docker-compose-greptimedb.yaml
  apps/emqx_bridge/test/emqx_bridge_v2_testlib.erl
  apps/emqx_bridge_greptimedb/mix.exs
  apps/emqx_bridge_greptimedb/rebar.config
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb.app.src
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb_connector.erl
  apps/emqx_bridge_greptimedb/test/emqx_bridge_greptimedb_SUITE.erl
  changes/ee/feat-16209.en.md
  mix.exs
  rel/i18n/emqx_bridge_greptimedb_connector.hocon
Owners: @emqx/emqx-review-board

feat(greptimedb): add `ts_column` connector option
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb_connector.erl
  apps/emqx_bridge_greptimedb/test/emqx_bridge_greptimedb_SUITE.erl
  changes/ee/feat-16210.en.md
  rel/i18n/emqx_bridge_greptimedb_connector.hocon
Owners: @emqx/emqx-review-board

test(dsraft): attempt to stabilize another flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

test(dsraft): attempt to stabilize flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

test(dsraft): fix yet another flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

test(dsraft): add flakiness handling hook
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

feat: internationalize emqx_gcp_device_api module
  apps/emqx_gcp_device/src/emqx_gcp_device_api.erl
  rel/i18n/emqx_gcp_device_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_dashboard_sso_oidc_api module
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_api.erl
  rel/i18n/emqx_dashboard_sso_oidc_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

fix(Kafka): remove producer linger when buffering to memory
  apps/emqx_bridge_azure_event_hub/rebar.config
  apps/emqx_bridge_confluent/rebar.config
  apps/emqx_bridge_kafka/rebar.config
  mix.exs
Owners: @emqx/emqx-review-board

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes
