Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

feat: internationalize emqx_ft_api module
  apps/emqx_ft/src/emqx_ft_api.erl
  rel/i18n/emqx_ft_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_node_rebalance_api module
  apps/emqx_node_rebalance/src/emqx_node_rebalance_api.erl
  rel/i18n/emqx_node_rebalance_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_mgmt_api_topics module
  apps/emqx_management/src/emqx_mgmt_api_topics.erl
  rel/i18n/emqx_mgmt_api_topics.hocon
Owners: @emqx/emqx-review-board

chore: address dialyzer warnings
  apps/emqx/src/emqx_socket_connection.erl
  apps/emqx_bridge/src/emqx_bridge_v2.erl
  apps/emqx_bridge_gcp_pubsub/src/emqx_bridge_gcp_pubsub_client.erl
  apps/emqx_bridge_snowflake/src/emqx_bridge_snowflake_lib.erl
  apps/emqx_bridge_snowflake/src/emqx_bridge_snowflake_streaming_impl.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_machine.erl
Owners: @emqx/emqx-review-board, @ieQu1

test: fix emqx_machine eunit test
  apps/emqx_machine/test/emqx_machine_tests.erl
Owners: @emqx/emqx-review-board

refactor: move retainer logic from channel to retainer app
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hookpoints.erl
  apps/emqx/src/emqx_session_mem.erl
  apps/emqx_exhook/src/emqx_exhook_handler.erl
  apps/emqx_exhook/test/props/prop_exhook_hooks.erl
  apps/emqx_gateway_exproto/src/emqx_exproto_channel.erl
  apps/emqx_gateway_mqttsn/src/emqx_gateway_mqttsn.app.src
  apps/emqx_gateway_mqttsn/src/emqx_mqttsn_channel.erl
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_rule_engine/src/emqx_rule_engine.app.src
  apps/emqx_rule_engine/src/emqx_rule_events.erl
  changes/ee/breaking-16137.en.md
Owners: @emqx/emqx-review-board, @JimMoen

fix(retainer): change retainer iteration flow to allow iteration when hitting rate limit
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hookpoints.erl
  apps/emqx_retainer/src/emqx_retainer.app.src
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_mnesia.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
  changes/ee/fix-16137.en.md
Owners: @emqx/emqx-review-board

test(message transformation): fix flaky test
  apps/emqx_message_transformation/test/emqx_message_transformation_http_api_SUITE.erl
Owners: @emqx/emqx-review-board

test: fix compile warnings
  apps/emqx/test/emqx_ds_shared_sub_mgmt_api_subscription_SUITE.erl
  apps/emqx_cluster_link/test/emqx_cluster_link_schema_tests.erl
Owners: @emqx/emqx-review-board

fix: add missing minirest dependency in emqx_ft
  apps/emqx_ft/mix.exs
Owners: @emqx/emqx-review-board

chore: support large diffs in changelog generating script
  scripts/generate-changelog.sh
Owners: @emqx/emqx-review-board

refactor(managed certs): move modules to correct application
  apps/emqx/include/emqx_managed_certs.hrl
  apps/emqx/priv/bpapi.versions
  apps/emqx/src/emqx_managed_certs.erl
  apps/emqx/src/proto/emqx_managed_certs_proto_v1.erl
  apps/emqx_management/src/emqx_mgmt_api_certs.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
Owners: @emqx/emqx-review-board

refactor(retainer dispatcher): don't track readers, just make reindex wait more
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/test/emqx_retainer_dummy.erl
Owners: @emqx/emqx-review-board

feat: internationalize emqx_mgmt_api_relup module
  apps/emqx_management/src/emqx_mgmt_api_relup.erl
  rel/i18n/emqx_mgmt_api_relup.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_mgmt_api_trace module
  apps/emqx_management/src/emqx_mgmt_api_trace.erl
  rel/i18n/emqx_mgmt_api_trace.hocon
Owners: @emqx/emqx-review-board

feat: complete internationalization of emqx_ft_api module
  apps/emqx_ft/src/emqx_ft_api.erl
  rel/i18n/emqx_ft_api.hocon
Owners: @emqx/emqx-review-board

feat: add client stats dump ctl command
  apps/emqx_management/src/emqx_mgmt_cli.erl
  apps/emqx_management/test/emqx_mgmt_cli_SUITE.erl
  apps/emqx_utils/src/emqx_utils_csv.erl
  apps/emqx_utils/test/emqx_utils_csv_tests.erl
Owners: @emqx/emqx-review-board

refactor: use map for non-changing parameters in traverse_chain_info
  apps/emqx_management/src/emqx_mgmt_cli.erl
Owners: @emqx/emqx-review-board

refactor(hooks): thread new arguments via process dictionary instead of changing signature
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hooks.erl
  apps/emqx_exhook/src/emqx_exhook_handler.erl
  apps/emqx_exhook/test/props/prop_exhook_hooks.erl
  apps/emqx_gateway_exproto/src/emqx_exproto_channel.erl
  apps/emqx_gateway_mqttsn/src/emqx_gateway_mqttsn.app.src
  apps/emqx_gateway_mqttsn/src/emqx_mqttsn_channel.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_rule_engine/src/emqx_rule_engine.app.src
  apps/emqx_rule_engine/src/emqx_rule_events.erl
  changes/ee/breaking-16137.en.md
Owners: @emqx/emqx-review-board, @JimMoen

style: fix more of elvis' useless nits
  apps/emqx/src/emqx_hooks.erl
Owners: @emqx/emqx-review-board

feat(mq): implement message count/total byte size limits for queues
  apps/emqx_mq/asn.1/MessageQueue.asn
  apps/emqx_mq/mix.exs
  apps/emqx_mq/src/emqx_mq.erl
  apps/emqx_mq/src/emqx_mq_api.erl
  apps/emqx_mq/src/emqx_mq_app.erl
  apps/emqx_mq/src/emqx_mq_consumer/emqx_mq_consumer.erl
  apps/emqx_mq/src/emqx_mq_gc/emqx_mq_gc_worker.erl
  apps/emqx_mq/src/emqx_mq_internal.hrl
  apps/emqx_mq/src/emqx_mq_message_db.erl
  apps/emqx_mq/src/emqx_mq_message_quota_buffer.erl
  apps/emqx_mq/src/emqx_mq_message_quota_index.erl
  apps/emqx_mq/src/emqx_mq_metrics.erl
  apps/emqx_mq/src/emqx_mq_prop.erl
  apps/emqx_mq/src/emqx_mq_registry.erl
  apps/emqx_mq/src/emqx_mq_schema.erl
  apps/emqx_mq/src/emqx_mq_state_storage.erl
  apps/emqx_mq/src/emqx_mq_sub.erl
  apps/emqx_mq/src/emqx_mq_sup.erl
  apps/emqx_mq/src/emqx_mq_types.erl
  apps/emqx_mq/test/emqx_mq_SUITE.erl
  apps/emqx_mq/test/emqx_mq_api_SUITE.erl
  apps/emqx_mq/test/emqx_mq_gc_SUITE.erl
  apps/emqx_mq/test/emqx_mq_message_quota_index_SUITE.erl
  apps/emqx_mq/test/emqx_mq_test_utils.erl
  apps/emqx_utils/src/emqx_metrics_worker.erl
  apps/emqx_utils/src/emqx_utils_metrics.erl
  changes/ee/feat-16152.en.md
  rel/i18n/emqx_mq_schema.hocon
Owners: @emqx/emqx-review-board

feat(mq): cover metric accessors with tests
  apps/emqx_mq/test/emqx_mq_SUITE.erl
Owners: @emqx/emqx-review-board

feat(mq): run gc in non-conflicting transactions
  apps/emqx_mq/src/emqx_mq_gc/emqx_mq_gc_worker.erl
  apps/emqx_mq/src/emqx_mq_message_db.erl
Owners: @emqx/emqx-review-board

fix(build): use rebar3 as the manager of dependencies with discrepancies in they app env
  changes/ee/fix-16156.en.md
  mix.exs
Owners: @emqx/emqx-review-board

feat: internationalize emqx_ft_storage_exporter_fs_api module
  apps/emqx_ft/src/emqx_ft_storage_exporter_fs_api.erl
  rel/i18n/emqx_ft_storage_exporter_fs_api.hocon
Owners: @emqx/emqx-review-board

fix: upgrade jose from 1.11.2 to 1.11.10
  mix.exs
Owners: @emqx/emqx-review-board

feat: complete internationalization of emqx_ft_api module
  apps/emqx_ft/src/emqx_ft_api.erl
  rel/i18n/emqx_ft_api.hocon
  rel/i18n/emqx_ft_storage_exporter_fs_api.hocon
Owners: @emqx/emqx-review-board

refactor(retainer dispatcher): stop tracking last msg id in batch
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
Owners: @emqx/emqx-review-board

fix: there is no INVALID_CONFIG error type
  apps/emqx_ft/src/emqx_ft_api.erl
  apps/emqx_management/src/emqx_mgmt_api_configs.erl
  rel/i18n/emqx_ft_api.hocon
Owners: @emqx/emqx-review-board

ci: fix docker workflow to not overwrite regular image with sf one
  .github/workflows/build_and_push_docker_images.yaml
  build
Owners: @emqx/emqx-review-board

feat(limiter): make behaviour of exclusive timers less confusing
  apps/emqx/src/emqx_limiter/src/emqx_limiter_exclusive.erl
  changes/ee/fix-16160.en.md
Owners: @emqx/emqx-review-board

ci: use ghcr.io as intermediary docker registry
  .github/workflows/build_and_push_docker_images.yaml
  build
Owners: @emqx/emqx-review-board

feat(retainer dispatcher): make retry TTL configurable
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_schema.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
  rel/i18n/emqx_retainer_schema.hocon
Owners: @emqx/emqx-review-board

feat(retainer dispatcher): do not deliver messages too newer than iteration start time
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
Owners: @emqx/emqx-review-board

docs(retainer): document limits in changelog
  changes/ee/fix-16137.en.md
Owners: none

docs(retainer dispatcher): document dispatcher-channel interactions
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
Owners: @emqx/emqx-review-board

feat(ds): Create HOCON schema for DB groups
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx/src/emqx_persistent_message.erl
  apps/emqx/src/emqx_schema.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
Owners: @emqx/emqx-review-board, @ieQu1

docs(ds): Add HOCON schema documentation for DB groups
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_conf/src/emqx_conf_schema_types.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @ieQu1

test(tls lib): fix test structure
  apps/emqx/test/emqx_tls_lib_tests.erl
Owners: @emqx/emqx-review-board

feat(managed certs): generate SNI fun for server opts
  apps/emqx/src/emqx_schema.erl
  apps/emqx/src/emqx_tls_lib.erl
  apps/emqx/test/emqx_schema_tests.erl
  apps/emqx/test/emqx_tls_lib_tests.erl
  rel/i18n/emqx_schema.hocon
Owners: @emqx/emqx-review-board

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes
