Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

test(ds): Don't assume anything about unknown DS metrics
  apps/emqx_prometheus/test/emqx_prometheus_data_SUITE.erl
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @JimMoen

ci: use ghcr.io repository in helm tests
  .github/workflows/run_helm_tests.yaml
Owners: @emqx/emqx-review-board

feat(streams): put up basic application skeleton
  apps/emqx_streams/README.md
  apps/emqx_streams/mix.exs
  apps/emqx_streams/src/emqx_streams.erl
  apps/emqx_streams/src/emqx_streams_app.erl
  apps/emqx_streams/src/emqx_streams_config.erl
  apps/emqx_streams/src/emqx_streams_schema.erl
  apps/emqx_streams/src/emqx_streams_sup.erl
Owners: @emqx/emqx-review-board

chore(streams): use more generic "streams" schema root
  apps/emqx_streams/README.md
  apps/emqx_streams/src/emqx_streams_config.erl
  apps/emqx_streams/src/emqx_streams_internal.hrl
  apps/emqx_streams/src/emqx_streams_schema.erl
Owners: @emqx/emqx-review-board

chore(streams): add minimal i18n file
  rel/i18n/emqx_streams_schema.hocon
Owners: @emqx/emqx-review-board

perf(clients api): really disable counting
  apps/emqx_management/src/emqx_mgmt_api.erl
Owners: @emqx/emqx-review-board

perf(clients api): really disable counting (r58)
  apps/emqx_management/src/emqx_mgmt_api.erl
Owners: @emqx/emqx-review-board

test: attempt to fix flaky tests
  apps/emqx/test/emqx_common_test_helpers.erl
Owners: @emqx/emqx-review-board

chore(buffer worker): log expired counts at warning level and throttle per resource id
  apps/emqx/src/emqx_log_throttler.erl
  apps/emqx_conf/src/emqx_conf_schema.erl
  apps/emqx_resource/src/emqx_resource_buffer_worker.erl
  changes/ee/feat-16183.en.md
Owners: @emqx/emqx-review-board

chore(buffer worker): log expired counts at warning level and throttle per resource id
  apps/emqx/src/emqx_log_throttler.erl
  apps/emqx_conf/src/emqx_conf.app.src
  apps/emqx_conf/src/emqx_conf_schema.erl
  apps/emqx_resource/src/emqx_resource_buffer_worker.erl
  changes/ee/feat-16183.en.md
Owners: @emqx/emqx-review-board

test: mark test case as flaky
  apps/emqx/test/emqx_takeover_SUITE.erl
Owners: @emqx/emqx-review-board

ci(docker): fix workflow permissions
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: don't push pr images to registries
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

test(dsraft): attempt to stabilize flaky test
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

test: rm unused var warning
  apps/emqx/test/emqx_ds_shared_sub_mgmt_api_subscription_SUITE.erl
Owners: @emqx/emqx-review-board

feat: add support for parquet files for azure blob storage and s3 aggregated uploads
  apps/emqx_bridge_azure_blob_storage/docker-ct
  apps/emqx_bridge_azure_blob_storage/test/emqx_bridge_azure_blob_storage_SUITE.erl
  apps/emqx_bridge_s3/docker-ct
  apps/emqx_bridge_s3/test/emqx_bridge_s3_aggreg_upload_SUITE.erl
  apps/emqx_bridge_s3tables/mix.exs
  apps/emqx_connector_aggregator/mix.exs
  apps/emqx_connector_aggregator/src/emqx_connector_aggreg_delivery.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggreg_parquet.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggregator_schema.erl
  changes/ee/feat-16179.en.md
  mix.exs
  rel/i18n/emqx_connector_aggregator_schema.hocon
Owners: @emqx/emqx-review-board

docs(s3tables): fix module docs
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_aggreg_avro.erl
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_aggreg_parquet.erl
Owners: @emqx/emqx-review-board

fix(s3tables): ensure records are binary key maps
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_aggreg_parquet.erl
Owners: @emqx/emqx-review-board

chore: change default compression for s3tables action
  apps/emqx_bridge_s3tables/src/emqx_bridge_s3tables_action_schema.erl
Owners: @emqx/emqx-review-board

ci: detach spark-query to separate reusable container
  .ci/docker-compose-file/docker-compose-iceberg.yaml
  .ci/docker-compose-file/docker-compose-spark-query.yaml
  apps/emqx_bridge_s3tables/docker-ct
  scripts/ct/run.sh
Owners: @emqx/emqx-review-board

feat(connector aggreg): support schema registry references for parquet schemas
  apps/emqx_bridge_azure_blob_storage/test/emqx_bridge_azure_blob_storage_SUITE.erl
  apps/emqx_bridge_s3/test/emqx_bridge_s3_aggreg_upload_SUITE.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggreg_delivery.erl
  apps/emqx_connector_aggregator/src/emqx_connector_aggregator_schema.erl
  apps/emqx_connector_aggregator/test/emqx_connector_aggreg_delivery_parquet_SUITE.erl
  apps/emqx_connector_aggregator/test/emqx_connector_aggregator_SUITE.erl
  apps/emqx_connector_aggregator/test/emqx_connector_aggregator_test_helpers.erl
  apps/emqx_schema_registry/src/emqx_schema_registry_schema.erl
Owners: @emqx/emqx-review-board

ci: use custom PAT to login to ghcr.io when building docker image
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: use secrets explicitly
  .github/workflows/_pr_entrypoint.yaml
Owners: @emqx/emqx-review-board

test(flaky): retry flaky tests that trigger timetraps
  apps/emqx/test/emqx_common_test_helpers.erl
  apps/emqx/test/emqx_cth_ct_hook_flaky.erl
  apps/emqx/test/emqx_takeover_SUITE.erl
Owners: @emqx/emqx-review-board

ci: try to use github app token instead
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: generate token in primary workflow
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: hardcode app id
  .github/workflows/_pr_entrypoint.yaml
Owners: @emqx/emqx-review-board

test: fix retry hook
  apps/emqx/test/emqx_cth_ct_hook_flaky.erl
Owners: @emqx/emqx-review-board

ci: fix docker workflow
  .github/workflows/build_and_push_docker_images.yaml
  .github/workflows/run_helm_tests.yaml
Owners: @emqx/emqx-review-board

ci: update ui tests
  scripts/ui-tests/conftest.py
  scripts/ui-tests/dashboard_test.py
  scripts/ui-tests/docker-compose.yaml
Owners: @emqx/emqx-review-board

ci: use local registry when building sfodbc version
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: fix docker artifact name in dependent jobs
  .github/workflows/run_docker_tests.yaml
  .github/workflows/run_helm_tests.yaml
Owners: @emqx/emqx-review-board

ci: fix artifact name in docker workflow
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci(docker): don't push when not publishing
  .github/workflows/build_and_push_docker_images.yaml
  build
Owners: @emqx/emqx-review-board

ci: use different tags for images on different archs
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: don't rely on gha services
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

ci: simplify docker workflow
  .github/workflows/build_and_push_docker_images.yaml
Owners: @emqx/emqx-review-board

fix(ds): Deprecate per-shard write_buffer_size config
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @ieQu1

test: deleteme
  apps/emqx_gateway_mqttsn/test/emqx_sn_frame_SUITE.erl
Owners: @emqx/emqx-review-board

feat(streams): describe stream dispatch protocol draft
  apps/emqx_streams/src/emqx_streams.erl
  apps/emqx_streams/src/emqx_streams_allocation.erl
  apps/emqx_streams/src/emqx_streams_internal.hrl
Owners: @emqx/emqx-review-board

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes
