Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes

style(prometheus api): rename endpoint per review request
  apps/emqx_mt/test/emqx_mt_SUITE.erl
  apps/emqx_prometheus/src/emqx_prometheus_api.erl
Owners: @emqx/emqx-review-board, @JimMoen

build(mt): use strict erlc options
  apps/emqx_mt/mix.exs
Owners: @emqx/emqx-review-board

feat(authz): add configuration to mount prefix for authz
  apps/emqx/src/emqx_access_control.erl
  apps/emqx/src/emqx_schema.erl
  apps/emqx/test/emqx_config_SUITE.erl
  apps/emqx_auth/test/emqx_authz/emqx_authz_SUITE.erl
  apps/emqx_auth/test/emqx_authz/emqx_authz_fake_source.erl
  changes/ee/feat-16266.en.md
  rel/i18n/emqx_schema.hocon
Owners: @emqx/emqx-review-board, @JimMoen

test: bump meck -> 1.1.0
  mix.exs
Owners: @emqx/emqx-review-board

feat: add aws timestream data integration
  apps/emqx_bridge_aws_timestream/docker-ct
  apps/emqx_bridge_aws_timestream/mix.exs
  apps/emqx_bridge_aws_timestream/src/emqx_bridge_aws_timestream.hrl
  apps/emqx_bridge_aws_timestream/src/emqx_bridge_aws_timestream_action_info.erl
  apps/emqx_bridge_aws_timestream/src/emqx_bridge_aws_timestream_action_schema.erl
  apps/emqx_bridge_aws_timestream/src/emqx_bridge_aws_timestream_connector_info.erl
  apps/emqx_bridge_aws_timestream/src/emqx_bridge_aws_timestream_connector_schema.erl
  apps/emqx_bridge_aws_timestream/test/emqx_bridge_aws_timestream_SUITE.erl
  apps/emqx_bridge_influxdb/src/emqx_bridge_influxdb.erl
  apps/emqx_gen_bridge/src/emqx_action_info.erl
  apps/emqx_gen_bridge/src/emqx_connector_info.erl
  apps/emqx_machine/priv/reboot_lists.eterm
  changes/ee/feat-16267.en.md
  rel/i18n/emqx_bridge_aws_timestream_action_schema.hocon
  rel/i18n/emqx_bridge_aws_timestream_connector_schema.hocon
  scripts/spellcheck/dicts/emqx.txt
Owners: @emqx/emqx-review-board

fix(sessds): Raise session checkpoint interval to 15s
  apps/emqx/src/emqx_schema.erl
  apps/emqx/test/emqx_config_SUITE.erl
  apps/emqx_dashboard/test/emqx_dashboard_monitor_SUITE.erl
  changes/ee/feat-16136.en.md
Owners: @emqx/emqx-review-board, @JimMoen

refactor(ds): Create a gen_server for DBs
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_db_sup.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_db_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_sup.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_db_group_mgr.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/src/emqx_ds_sup.erl
  apps/emqx_durable_storage/src/emqx_dsch.erl
  apps/emqx_durable_storage/src/emqx_dsch.hrl
Owners: @ieQu1

fix(ds): Rename emqx_ds_total_size metric to emqx_ds_disk_usage
  apps/emqx_durable_storage/include/emqx_ds_metrics.hrl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_builtin_metrics.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_prometheus/src/emqx_prometheus.erl
  changes/ee/feat-16136.en.md
Owners: @ieQu1, @emqx/emqx-review-board, @JimMoen

feat(ds): Add metrics for DS groups
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_durable_storage/include/emqx_ds_metrics.hrl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_builtin_metrics.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_prometheus/src/emqx_prometheus.erl
Owners: @emqx/emqx-review-board, @ieQu1, @JimMoen

fix(ds): Fix grammar in the schema docs
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board

feat(ds): Create HOCON schema for DB groups
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx/src/emqx_persistent_message.erl
  apps/emqx/src/emqx_schema.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
Owners: @emqx/emqx-review-board, @ieQu1

fix(ds): Fix dialyzer issues
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
Owners: @ieQu1

fix(ds_schema): Fix configuration validation
  apps/emqx/src/emqx_ds_schema.erl
Owners: @emqx/emqx-review-board

docs(ds): Add HOCON schema documentation for DB groups
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_conf/src/emqx_conf_schema_types.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @ieQu1

feat(ds): Introduce DB group concept
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_db_sup.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_db_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_sup.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_db_group_mgr.erl
  apps/emqx_durable_storage/src/emqx_ds_lib.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/src/emqx_ds_sup.erl
Owners: @ieQu1

refactor(ds): Remove DB group lookups from the storage layer
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_db_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_db_sup.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_lib.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/test/emqx_ds_storage_SUITE.erl
Owners: @ieQu1

docs(ds): Document consequences and mitigations for storage quotas
  changes/ee/feat-16136.en.md
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board

test(ds): Don't assume anything about unknown DS metrics
  apps/emqx_prometheus/test/emqx_prometheus_data_SUITE.erl
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @JimMoen

test(node_rebalance): Clean up workdir after completing tests
  apps/emqx_node_rebalance/test/emqx_node_rebalance_purge_SUITE.erl
Owners: @emqx/emqx-review-board

fix(ds): Re-check quota periodically
  apps/emqx_ds_backends/test/emqx_ds_backends_SUITE.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
Owners: @ieQu1

chore(ds): Unify formatting
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
Owners: @ieQu1

feat(ds): Implement soft storage quota
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_ds_backends/test/emqx_ds_backends_SUITE.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
Owners: @emqx/emqx-review-board, @ieQu1

feat(ds_client): Handle stream deletion while cleant is offline
  apps/emqx_durable_storage/src/emqx_ds_client.erl
  apps/emqx_durable_storage/src/emqx_ds_client_internals.hrl
  apps/emqx_durable_storage/test/emqx_ds_client_tests.erl
Owners: @ieQu1

fix(ds): Deprecate per-shard write_buffer_size config
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @ieQu1

fix(ds): Fix a typo and add some testcases for unhappy cases
  apps/emqx_ds_backends/test/emqx_ds_backends_SUITE.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
Owners: @ieQu1

perf(ds): Make size of RocksDB thread pool configurable
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/test/perf_testing.org
  changes/ee/feat-16136.en.md
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board, @ieQu1

fix(ds): Use infinite timeout for communication with DB server
  apps/emqx_durable_storage/src/emqx_ds.erl
Owners: @ieQu1

fix: compile issue after merge conflict resolution
  apps/emqx/src/emqx_channel.erl
Owners: @emqx/emqx-review-board

style(authz): use macro for authz record
  apps/emqx_auth_mnesia/src/emqx_authz_mnesia.erl
Owners: @emqx/emqx-review-board

feat(ds_client): Allow client to override certain iterator settings
  apps/emqx_durable_storage/src/emqx_ds_client.erl
Owners: @ieQu1

chore: upgrade to brod 4.4.7
  mix.exs
Owners: @emqx/emqx-review-board

test(clink): do proper cleanup in case of test failure
  apps/emqx_cluster_link/test/emqx_cluster_link_config_SUITE.erl
Owners: @emqx/emqx-review-board

fix(clink): fix incompatible return of generic `handle_event/3`
  apps/emqx_cluster_link/src/emqx_cluster_link_routerepl.erl
Owners: @emqx/emqx-review-board

fix(clink): stop accidentally skipping bootstrap on actor renewal
  apps/emqx_cluster_link/src/emqx_cluster_link.erl
  apps/emqx_cluster_link/src/emqx_cluster_link_extrouter.erl
  apps/emqx_cluster_link/src/emqx_cluster_link_mqtt.erl
  apps/emqx_cluster_link/test/emqx_cluster_link_extrouter_SUITE.erl
Owners: @emqx/emqx-review-board

chore: add changelog entry
  changes/ee/fix-16269.en.md
Owners: none

chore(clink): elevate logging level of couple routerepl events
  apps/emqx_cluster_link/src/emqx_cluster_link_routerepl.erl
Owners: @emqx/emqx-review-board

test(mnesia authz): reorganize test suite
  apps/emqx_auth_mnesia/test/emqx_authz_api_mnesia_SUITE.erl
Owners: @emqx/emqx-review-board

test(mnesia authz): refactor suite to use helper fns
  apps/emqx_auth_mnesia/test/emqx_authz_api_mnesia_SUITE.erl
Owners: @emqx/emqx-review-board

feat(mnesia authz): namespace acl rules
  apps/emqx_auth/include/emqx_authz.hrl
  apps/emqx_auth_mnesia/src/emqx_authz_api_mnesia.erl
  apps/emqx_auth_mnesia/src/emqx_authz_mnesia.erl
  apps/emqx_auth_mnesia/test/emqx_authz_api_mnesia_SUITE.erl
  apps/emqx_auth_mnesia/test/emqx_authz_mnesia_SUITE.erl
  apps/emqx_dashboard_rbac/src/emqx_dashboard_rbac.erl
  apps/emqx_management/test/emqx_mgmt_data_backup_SUITE.erl
  apps/emqx_mt/test/emqx_mt_api_SUITE.erl
  changes/ee/feat-16272.en.md
Owners: @emqx/emqx-review-board, @JimMoen
