Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

chore: pin eredis_cluster 0.8.10
  apps/emqx_connector/mix.exs
  apps/emqx_redis/mix.exs
  apps/emqx_redis/rebar.config
  changes/ee/fix-16138.en.md
Owners: @emqx/emqx-review-board, @JimMoen

fix(retainer): change retainer iteration flow to allow iteration when hitting rate limit
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hookpoints.erl
  apps/emqx_retainer/src/emqx_retainer.app.src
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_mnesia.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
Owners: @emqx/emqx-review-board

chore: pin gproc 1.0.0
  apps/emqx/rebar.config
  mix.exs
  rebar.config
Owners: @emqx/emqx-review-board

feat(ctl): implement channel info talbe traversal for stats dump
  apps/emqx_management/src/emqx_mgmt_cli.erl
  apps/emqx_management/test/emqx_mgmt_cli_SUITE.erl
Owners: @emqx/emqx-review-board

style: make dialyzer happy
  apps/emqx_management/src/emqx_mgmt_cli.erl
Owners: @emqx/emqx-review-board

fix(redis): upgrade to eredis_cluster-0.8.10
  apps/emqx_redis/mix.exs
Owners: @emqx/emqx-review-board

chore: upgrade to gproc 1.0.0
  mix.exs
Owners: @emqx/emqx-review-board

refactor: treat redis PING failure as disconnected
  apps/emqx_redis/src/emqx_redis.erl
Owners: @emqx/emqx-review-board

docs: add changelog for PR 16140
  changes/ee/fix-16140.en.md
Owners: none

test(mqttsn): attempt to fix flaky test
  apps/emqx_gateway_mqttsn/test/emqx_sn_protocol_SUITE.erl
Owners: @emqx/emqx-review-board

test: resolve cherry-pick conflict
  apps/emqx_gateway_mqttsn/test/emqx_sn_protocol_SUITE.erl
Owners: @emqx/emqx-review-board

refactor: treat redis PING failure as disconnected
  apps/emqx_redis/src/emqx_redis.erl
Owners: @emqx/emqx-review-board

docs: add changelog for PR 16140
  changes/ee/fix-16140.en.md
Owners: none

chore: upgrade to gproc 1.0.0
  mix.exs
Owners: @emqx/emqx-review-board

feat(ctl): implement channel info talbe traversal for stats dump
  apps/emqx_management/src/emqx_mgmt_cli.erl
  apps/emqx_management/test/emqx_mgmt_cli_SUITE.erl
Owners: @emqx/emqx-review-board

style: make dialyzer happy
  apps/emqx_management/src/emqx_mgmt_cli.erl
Owners: @emqx/emqx-review-board

feat: add emqx_util_csv module to help escap csv string value fields
  apps/emqx_management/src/emqx_mgmt_cli.erl
  apps/emqx_utils/src/emqx_utils.app.src
  apps/emqx_utils/src/emqx_utils_csv.erl
  apps/emqx_utils/test/emqx_utils_csv_tests.erl
Owners: @emqx/emqx-review-board

feat: add client stats dump ctl command
  apps/emqx_management/src/emqx_management.app.src
  apps/emqx_management/src/emqx_mgmt_cli.erl
Owners: @emqx/emqx-review-board

test: update test case to assert correct fiailure status
  apps/emqx_bridge_redis/test/emqx_bridge_redis_SUITE.erl
Owners: @emqx/emqx-review-board

chore(certs): enforce naming rule for bundles
  apps/emqx_conf/include/emqx_conf_certs.hrl
  apps/emqx_management/src/emqx_mgmt_api_certs.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
  apps/emqx_resource/src/emqx_resource.erl
Owners: @emqx/emqx-review-board

refactor(certs): use reversible escaping of namespaces
  apps/emqx_conf/src/emqx_conf_certs.erl
Owners: @emqx/emqx-review-board

feat(dashboard monitor): add `rules.matched` and `actions.executed` rates
  apps/emqx/src/emqx_metrics.erl
  apps/emqx_bridge/test/emqx_bridge_v2_SUITE.erl
  apps/emqx_dashboard/include/emqx_dashboard.hrl
  apps/emqx_dashboard/src/emqx_dashboard_monitor.erl
  apps/emqx_dashboard/src/emqx_dashboard_monitor_api.erl
  apps/emqx_resource/src/emqx_resource_metrics.erl
  apps/emqx_rule_engine/src/emqx_rule_runtime.erl
  changes/ee/feat-16135.en.md
  rel/i18n/emqx_dashboard_monitor_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

test: assert that we can list escaped ns contents and bundles
  apps/emqx_conf/src/emqx_conf_certs.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
Owners: @emqx/emqx-review-board

refactor(ds): Create a gen_server for DBs
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_db_sup.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_db_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_sup.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_db_group_mgr.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/src/emqx_ds_sup.erl
  apps/emqx_durable_storage/src/emqx_dsch.erl
  apps/emqx_durable_storage/src/emqx_dsch.hrl
Owners: @ieQu1

chore: add support for multipart, multiple files uploads
  apps/emqx_conf/src/emqx_conf_certs.erl
  apps/emqx_dashboard/src/emqx_dashboard_swagger.erl
  apps/emqx_management/src/emqx_mgmt_api_certs.erl
  apps/emqx_management/src/proto/emqx_mgmt_api_certs_proto_v1.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
Owners: @emqx/emqx-review-board, @JimMoen

fix(certs): move proto file to correct application
  apps/emqx/priv/bpapi.versions
  apps/emqx_conf/src/emqx_conf_certs.erl
  apps/emqx_conf/src/proto/emqx_conf_certs_proto_v1.erl
Owners: @emqx/emqx-review-board

refactor(emqx_message_transformation_http_api): remove summary fields and add i18n for error schemas
  apps/emqx_message_transformation/src/emqx_message_transformation_http_api.erl
  rel/i18n/emqx_message_transformation_http_api.hocon
Owners: @emqx/emqx-review-board

refactor(emqx_mt_api): remove summary fields and add i18n for error schemas
  apps/emqx_mt/src/emqx_mt_api.erl
  rel/i18n/emqx_mt_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize schema registry API error messages and responses
  apps/emqx_schema_registry/src/emqx_schema_registry_http_api.erl
  rel/i18n/emqx_schema_registry_http_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize SCRAM mnesia schema descriptions
  apps/emqx_auth_mnesia/src/emqx_authn_scram_mnesia_schema.erl
  rel/i18n/emqx_authn_scram_mnesia_schema.hocon
Owners: @emqx/emqx-review-board

fix: exclude binary files from newline-at-eof check
  scripts/check-nl-at-eof.sh
Owners: @emqx/emqx-review-board

refactor: improve message clarity for kick process
  apps/emqx_mt/src/emqx_mt_api.erl
  rel/i18n/emqx_mt_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_authz_api_sources module
  apps/emqx_auth/src/emqx_authz/emqx_authz_api_sources.erl
  rel/i18n/emqx_authz_api_sources.hocon
Owners: @emqx/emqx-review-board, @JimMoen

chore: adapt for OTP 28 changes
  .ci/docker-compose-file/docker-compose-kdc.yaml
  .ci/docker-compose-file/docker-compose.yaml
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/build_packages.yaml
  .tool-versions
  Makefile
  apps/emqx_bridge_rabbitmq/mix.exs
  deploy/docker/Dockerfile
  env.sh
  mix.exs
  scripts/ensure-rebar3.sh
Owners: @emqx/emqx-review-board, @Rory-Z

feat: add missing i18n references for schema error messages
  apps/emqx_exhook/src/emqx_exhook_api.erl
  rel/i18n/emqx_exhook_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

chore: bump esockd to 5.16.1
  mix.exs
Owners: @emqx/emqx-review-board

build: explicitly compile cth_readable in test-compile target
  Makefile
Owners: @emqx/emqx-review-board

chore: bump emqx-builder version to 6.0-2 and elixir to 1.19.1
  .ci/docker-compose-file/docker-compose-kdc.yaml
  .ci/docker-compose-file/docker-compose.yaml
  .github/workflows/build_packages.yaml
  .tool-versions
  deploy/docker/Dockerfile
  env.sh
Owners: @emqx/emqx-review-board, @Rory-Z

chore(config): document `fill_defaults/2` behavior
  apps/emqx/src/emqx_config.erl
Owners: @emqx/emqx-review-board

feat(config): stop keeping unknown config roots in global rawconf
  apps/emqx/src/emqx_config.erl
  apps/emqx/test/emqx_config_SUITE.erl
Owners: @emqx/emqx-review-board

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes
