Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes

docs: add changelog for PR 16212
  changes/ee/fix-16212.en.md
Owners: none

feat: set process label with client ID
  .tool-versions
  apps/emqx/src/emqx_channel.erl
Owners: @emqx/emqx-review-board

fix(Kafka): pass allow_auto_topic_creation as client config
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka_impl_producer.erl
Owners: @emqx/emqx-review-board

fix: upgrade to wolff-4.1.2
  apps/emqx_bridge_azure_event_hub/rebar.config
  apps/emqx_bridge_confluent/rebar.config
  apps/emqx_bridge_kafka/rebar.config
  mix.exs
Owners: @emqx/emqx-review-board

feat: upgrade to OTP 27.3.4.2-5
  .ci/docker-compose-file/docker-compose-kdc.yaml
  .ci/docker-compose-file/docker-compose.yaml
  .github/workflows/build_packages.yaml
  .tool-versions
  deploy/docker/Dockerfile
  env.sh
Owners: @emqx/emqx-review-board, @Rory-Z

docs: add changelog for PR 16213
  changes/ee/fix-16213.en.md
Owners: none

feat(Kafka): add allow_auto_topic_creation connector config
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka.erl
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka_impl_producer.erl
  changes/ee/feat-16214.en.md
  mix.exs
  rel/i18n/emqx_bridge_azure_event_hub.hocon
  rel/i18n/emqx_bridge_confluent_producer.hocon
  rel/i18n/emqx_bridge_kafka.hocon
Owners: @emqx/emqx-review-board

docs(streams): require consumers to use progress as heartbeats
  apps/emqx_streams/src/emqx_streams.erl
Owners: @emqx/emqx-review-board

docs(streams): add "consumer group" concept to stream dispatch
  apps/emqx_streams/src/emqx_streams.erl
Owners: @emqx/emqx-review-board

docs(streams): mention protocol discovery options
  apps/emqx_streams/src/emqx_streams.erl
Owners: @emqx/emqx-review-board

fix: bump kafka_protocol and crc32cer version
  mix.exs
Owners: @emqx/emqx-review-board

test(dsraft): add flakiness handling hook
  apps/emqx_ds_builtin_raft/test/emqx_ds_builtin_raft_SUITE.erl
Owners: @ieQu1

chore: bump release version to 5.10.2-alpha.1
  apps/emqx/include/emqx_release.hrl
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

feat(oidc): allow customizing ssl request options
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc.erl
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_session.erl
Owners: @emqx/emqx-review-board, @JimMoen

test(oidc): add bare minimum smoke tests
  .ci/docker-compose-file/dex/config.dev.yaml
  .ci/docker-compose-file/dex/haproxy.cfg
  .ci/docker-compose-file/docker-compose-dex-oidc.yaml
  apps/emqx_dashboard_sso/docker-ct
  apps/emqx_dashboard_sso/test/emqx_dashboard_sso_oidc_SUITE.erl
  apps/emqx_management/test/emqx_mgmt_api_test_util.erl
  scripts/ct/run.sh
Owners: @emqx/emqx-review-board, @JimMoen

fix(oidc): fix callback redirect on multi-node cluster
  .ci/docker-compose-file/dex/haproxy.cfg
  apps/emqx/priv/bpapi.versions
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_api.erl
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_session.erl
  apps/emqx_dashboard_sso/src/proto/emqx_dashboard_sso_oidc_proto_v1.erl
  apps/emqx_dashboard_sso/test/emqx_dashboard_sso_oidc_SUITE.erl
  changes/ee/fix-16217.en.md
Owners: @emqx/emqx-review-board, @JimMoen

feat(oidc): allow customizing ssl request options
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc.erl
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_session.erl
Owners: @emqx/emqx-review-board, @JimMoen

fix(greptime): pass ttl down to client
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb_connector.erl
Owners: @emqx/emqx-review-board

feat: internationalize emqx_dashboard_schema_api module
  apps/emqx_dashboard/src/emqx_dashboard_schema_api.erl
  rel/i18n/emqx_dashboard_schema_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_mgmt_api_ds module
  apps/emqx_management/src/emqx_mgmt_api_ds.erl
  rel/i18n/emqx_mgmt_api_ds.hocon
Owners: @emqx/emqx-review-board

fix(oidc): fix callback redirect on multi-node cluster
  .ci/docker-compose-file/dex/haproxy.cfg
  apps/emqx/priv/bpapi.versions
  apps/emqx/src/bpapi/emqx_bpapi.erl
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_api.erl
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_session.erl
  apps/emqx_dashboard_sso/src/proto/emqx_dashboard_sso_oidc_proto_v1.erl
  apps/emqx_dashboard_sso/test/emqx_dashboard_sso_oidc_SUITE.erl
  changes/ee/fix-16217.en.md
Owners: @emqx/emqx-review-board, @JimMoen

test(oidc): add bare minimum smoke tests
  .ci/docker-compose-file/dex/config.dev.yaml
  .ci/docker-compose-file/dex/haproxy.cfg
  .ci/docker-compose-file/docker-compose-dex-oidc.yaml
  apps/emqx_dashboard_sso/docker-ct
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso.app.src
  apps/emqx_dashboard_sso/test/emqx_dashboard_sso_oidc_SUITE.erl
  apps/emqx_management/test/emqx_mgmt_api_test_util.erl
  apps/emqx_utils/src/emqx_utils_maps.erl
  scripts/ct/run.sh
Owners: @emqx/emqx-review-board, @JimMoen

feat(jt808): Add parse_unknown_message option
  apps/emqx_gateway_jt808/src/emqx_gateway_jt808.app.src
  apps/emqx_gateway_jt808/src/emqx_jt808_channel.erl
  apps/emqx_gateway_jt808/src/emqx_jt808_frame.erl
  apps/emqx_gateway_jt808/src/emqx_jt808_schema.erl
  apps/emqx_gateway_jt808/test/emqx_jt808_SUITE.erl
  rel/i18n/emqx_jt808_schema.hocon
Owners: @emqx/emqx-review-board

chore: Update changes
  changes/ee/feat-16220.en.md
Owners: none

chore: Fix elvis warnings
  apps/emqx_gateway_jt808/src/emqx_jt808_frame.erl
Owners: @emqx/emqx-review-board

test(jt808): Fix the failed tests
  apps/emqx_gateway_jt808/src/emqx_jt808_frame.erl
  apps/emqx_gateway_jt808/test/emqx_jt808_parser_SUITE.erl
Owners: @emqx/emqx-review-board

fix: upgrade dependency version replayq to 0.5.0
  mix.exs
  rebar.config
Owners: @emqx/emqx-review-board

fix: upgrade to replayq-0.5.0
  mix.exs
Owners: @emqx/emqx-review-board

feat: internationalize emqx_license_http_api module
  apps/emqx_license/src/emqx_license_http_api.erl
  rel/i18n/emqx_license_http_api.hocon
Owners: @emqx/emqx-review-board

feat: complete internationalization of emqx_authz_api_sources module
  apps/emqx_auth/src/emqx_authz/emqx_authz_api_sources.erl
  rel/i18n/emqx_authz_api_sources.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_otel_sampler_api module
  apps/emqx_opentelemetry/src/sampler/emqx_otel_sampler_api.erl
  rel/i18n/emqx_otel_sampler_api.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_authz_api_settings module
  apps/emqx_auth/src/emqx_authz/emqx_authz_api_settings.erl
  rel/i18n/emqx_authz_api_settings.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_mgmt_api_publish module
  apps/emqx_management/src/emqx_mgmt_api_publish.erl
  rel/i18n/emqx_mgmt_api_publish.hocon
Owners: @emqx/emqx-review-board

feat: internationalize emqx_prometheus_api module
  apps/emqx_prometheus/src/emqx_prometheus_api.erl
  rel/i18n/emqx_prometheus_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_dashboard_error_code_api module
  apps/emqx_dashboard/src/emqx_dashboard_error_code_api.erl
  rel/i18n/emqx_dashboard_error_code_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat: internationalize emqx_mgmt_api_cluster module
  apps/emqx_management/src/emqx_mgmt_api_cluster.erl
  rel/i18n/emqx_mgmt_api_cluster.hocon
Owners: @emqx/emqx-review-board

chore: Log cache cleanup only when records are deleted
  apps/emqx_auth/src/emqx_auth.app.src
  apps/emqx_auth/src/emqx_auth_cache.erl
Owners: @emqx/emqx-review-board, @JimMoen

fix(retainer dispatcher): use correct arity for hook
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
Owners: @emqx/emqx-review-board

fix(retainer dispatcher): register log kind to throttle
  apps/emqx_conf/src/emqx_conf_schema.erl
Owners: @emqx/emqx-review-board

fix(retainer dispatcher): register log kind to throttle
  apps/emqx_conf/src/emqx_conf_schema.erl
Owners: @emqx/emqx-review-board
