Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes

fix(retainer dispatcher): use correct arity for hook
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
Owners: @emqx/emqx-review-board

fix(oidc): don't start workers if disabled (r60)
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_session.erl
  apps/emqx_dashboard_sso/test/emqx_dashboard_sso_oidc_SUITE.erl
  changes/ee/fix-16236.en.md
Owners: @emqx/emqx-review-board, @JimMoen

fix(oidc): don't start workers if disabled (r58)
  apps/emqx_dashboard_sso/src/emqx_dashboard_sso_oidc_session.erl
  apps/emqx_dashboard_sso/test/emqx_dashboard_sso_oidc_SUITE.erl
  changes/ee/fix-16237.en.md
Owners: @emqx/emqx-review-board, @JimMoen

ci: attempt to fix push test workflow
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/_push-entrypoint.yaml
  .github/workflows/run_emqx_app_tests.yaml
Owners: @emqx/emqx-review-board

refactor: fail if i18n is missing
  apps/emqx_dashboard/src/emqx_dashboard_swagger.erl
Owners: @emqx/emqx-review-board, @JimMoen

test: allow i18n ref missing in tests
  apps/emqx_dashboard/src/emqx_dashboard_swagger.erl
Owners: @emqx/emqx-review-board, @JimMoen

chore: add code comments to explain compile flag for missing_i18n_ref
  apps/emqx_dashboard/src/emqx_dashboard_swagger.erl
Owners: @emqx/emqx-review-board, @JimMoen

Revert "fix(retainer dispatcher): register log kind to throttle"
  apps/emqx_conf/src/emqx_conf_schema.erl
Owners: @emqx/emqx-review-board

Revert "fix(retainer dispatcher): use correct arity for hook"
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
Owners: @emqx/emqx-review-board

Revert "fix(retainer): change retainer iteration flow to allow iteration when hitting rate limit"
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hookpoints.erl
  apps/emqx/src/emqx_hooks.erl
  apps/emqx/src/emqx_persistent_session_ds.erl
  apps/emqx/test/emqx_channel_hookpoints_SUITE.erl
  apps/emqx_mq/src/emqx_mq.erl
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_mnesia.erl
  apps/emqx_retainer/src/emqx_retainer_schema.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
  apps/emqx_retainer/test/emqx_retainer_dummy.erl
  changes/ee/fix-16137.en.md
  rel/i18n/emqx_retainer_schema.hocon
Owners: @emqx/emqx-review-board

Revert "fix(retainer dispatcher): register log kind to throttle"
  apps/emqx_conf/src/emqx_conf_schema.erl
Owners: @emqx/emqx-review-board

Revert "fix(retainer dispatcher): use correct arity for hook"
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
Owners: @emqx/emqx-review-board

Revert "Merge pull request #16137 from thalesmg/20251016-r59-fix-retainer-rate-limited-mkIII"
  apps/emqx/priv/bpapi.versions
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hookpoints.erl
  apps/emqx/src/emqx_hooks.erl
  apps/emqx/src/emqx_persistent_session_ds.erl
  apps/emqx/src/emqx_session_mem.erl
  apps/emqx/test/emqx_bpapi_static_checks.erl
  apps/emqx_message_transformation/test/emqx_message_transformation_http_api_SUITE.erl
  apps/emqx_retainer/src/emqx_retainer.app.src
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_mnesia.erl
  apps/emqx_retainer/src/emqx_retainer_schema.erl
  apps/emqx_retainer/src/proto/emqx_retainer_proto_v1.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
  apps/emqx_retainer/test/emqx_retainer_dummy.erl
  changes/ee/fix-16137.en.md
  rel/i18n/emqx_retainer_schema.hocon
Owners: @emqx/emqx-review-board

style: fix elvis' useless nits
  apps/emqx/src/emqx_hooks.erl
Owners: @emqx/emqx-review-board

feat(namespace): add initial namespaced channel metrics
  apps/emqx/src/emqx_broker.erl
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_connection.erl
  apps/emqx/src/emqx_metrics.erl
  apps/emqx/src/emqx_quic_connection.erl
  apps/emqx/src/emqx_quic_data_stream.erl
  apps/emqx/src/emqx_socket_connection.erl
  apps/emqx/src/emqx_ws_connection.erl
  apps/emqx/test/emqx_channel_SUITE.erl
  apps/emqx/test/emqx_connection_SUITE.erl
  apps/emqx/test/emqx_metrics_SUITE.erl
  apps/emqx/test/props/prop_emqx_sys.erl
  apps/emqx_mt/test/emqx_mt_SUITE.erl
  changes/ee/feat-16211.en.md
Owners: @emqx/emqx-review-board

feat(ns metrics): export namespaced metrics to prometheus
  apps/emqx/src/emqx_metrics.erl
  apps/emqx_mt/test/emqx_mt_SUITE.erl
  apps/emqx_prometheus/src/emqx_prometheus.erl
Owners: @emqx/emqx-review-board, @JimMoen

test(ns metrics): refactor common assertions
  apps/emqx_mt/test/emqx_mt_SUITE.erl
Owners: @emqx/emqx-review-board

refactor(metrics): rm unused fns
  apps/emqx/src/emqx_metrics.erl
  apps/emqx/test/emqx_metrics_SUITE.erl
Owners: @emqx/emqx-review-board

style: minor style change in metrics increment
  apps/emqx/src/emqx_socket_connection.erl
Owners: @emqx/emqx-review-board

style: fix elvis' absolutely useless nits
  apps/emqx_gateway_ocpp/src/emqx_ocpp_channel.erl
Owners: @emqx/emqx-review-board

feat: prepare module api for namespaced metrics
  apps/emqx/src/emqx_metrics.erl
  apps/emqx_mt/src/emqx_mt_config.erl
  apps/emqx_mt/src/emqx_mt_config_janitor.erl
  apps/emqx_mt/test/emqx_mt_SUITE.erl
Owners: @emqx/emqx-review-board

refactor(channel): prepare for namespaced metrics
  apps/emqx/src/emqx_channel.erl
Owners: @emqx/emqx-review-board

feat(extsub): add emqx_extsub app
  apps/emqx/src/emqx_session.erl
  apps/emqx_extsub/README.md
  apps/emqx_extsub/mix.exs
  apps/emqx_extsub/src/emqx_extsub.erl
  apps/emqx_extsub/src/emqx_extsub_app.erl
  apps/emqx_extsub/src/emqx_extsub_buffer.erl
  apps/emqx_extsub/src/emqx_extsub_handler.erl
  apps/emqx_extsub/src/emqx_extsub_handler_registry.erl
  apps/emqx_extsub/src/emqx_extsub_internal.hrl
  apps/emqx_extsub/src/emqx_extsub_metrics.erl
  apps/emqx_extsub/src/emqx_extsub_sup.erl
  apps/emqx_extsub/src/emqx_extsub_types.erl
  apps/emqx_extsub/test/emqx_extsub_SUITE.erl
  apps/emqx_extsub/test/emqx_extsub_test_handler.erl
  apps/emqx_extsub/test/emqx_extsub_test_utils.erl
  apps/emqx_machine/priv/reboot_lists.eterm
Owners: @emqx/emqx-review-board

feat(extsub): apply review fixes
  apps/emqx_extsub/mix.exs
  apps/emqx_extsub/src/emqx_extsub.erl
  apps/emqx_extsub/src/emqx_extsub_buffer.erl
  apps/emqx_extsub/src/emqx_extsub_handler.erl
  apps/emqx_extsub/src/emqx_extsub_handler_registry.erl
  apps/emqx_extsub/src/emqx_extsub_internal.hrl
  apps/emqx_extsub/src/emqx_extsub_types.erl
  apps/emqx_extsub/test/emqx_extsub_SUITE.erl
  apps/emqx_extsub/test/emqx_extsub_test_handler.erl
Owners: @emqx/emqx-review-board

refactor: rm unused file
  apps/emqx_prometheus/src/emqx_prometheus.appup.src
Owners: @emqx/emqx-review-board, @JimMoen

feat(prometheus): add new endpoints to scrape namespaced metrics per review request
  apps/emqx/priv/bpapi.versions
  apps/emqx/src/emqx_metrics.erl
  apps/emqx_conf/src/emqx_conf_schema.erl
  apps/emqx_mt/test/emqx_mt_SUITE.erl
  apps/emqx_prometheus/include/emqx_prometheus.hrl
  apps/emqx_prometheus/src/emqx_prometheus.erl
  apps/emqx_prometheus/src/emqx_prometheus_api.erl
  apps/emqx_prometheus/src/emqx_prometheus_cluster.erl
  apps/emqx_prometheus/src/emqx_prometheus_config.erl
  apps/emqx_prometheus/src/proto/emqx_prometheus_proto_v3.erl
  apps/emqx_prometheus/test/emqx_prometheus_SUITE.erl
  apps/emqx_prometheus/test/emqx_prometheus_api_SUITE.erl
  apps/emqx_prometheus/test/emqx_prometheus_data_SUITE.erl
  changes/ee/feat-16211.en.md
  rel/i18n/emqx_prometheus_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

chore: remove Windows batch scripts and overlay templates
  bin/emqx.cmd
  bin/emqx_ctl.cmd
  rebar.config.erl
Owners: @emqx/emqx-review-board

chore: bump dashboard version
  Makefile
Owners: @emqx/emqx-review-board

chore: bump version to 6.0.1-rc.1
  apps/emqx/include/emqx_release.hrl
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

chore: bump version to 5.10.2-rc.1
  apps/emqx/include/emqx_release.hrl
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

chore: bump version to 6.0.1-rc.2
  apps/emqx/include/emqx_release.hrl
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

chore: bump version to 5.10.2-rc.2
  apps/emqx/include/emqx_release.hrl
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

chore: bump version to 5.10.2
  apps/emqx/include/emqx_release.hrl
  changes/e5.10.2.en.md
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

chore: bump version to 6.0.1
  apps/emqx/include/emqx_release.hrl
  changes/e6.0.1.en.md
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

ci: do not build macos-13 packages
  .github/workflows/build_packages.yaml
Owners: @emqx/emqx-review-board

docs: add changelog for PR 16261
  changes/ee/fix-16261.en.md
Owners: none

fix(KafkaConsumer): check leader connection only for assigned partitions
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka_impl_consumer.erl
  apps/emqx_bridge_kafka/test/emqx_bridge_v2_kafka_consumer_SUITE.erl
Owners: @emqx/emqx-review-board

chore: fix compile warn in test code
  apps/emqx_bridge/test/emqx_bridge_v2_SUITE.erl
  apps/emqx_resource/test/emqx_resource_SUITE.erl
Owners: @emqx/emqx-review-board

fix(KafkaConsumer): check leader connection only for assigned partitions
  apps/emqx_bridge_kafka/src/emqx_bridge_kafka_impl_consumer.erl
Owners: @emqx/emqx-review-board

docs: add changelog for PR 16265
  changes/ee/fix-16265.en.md
Owners: none
