Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

chore: bump dashboard version to 1.9.2-1
  Makefile
Owners: @emqx/emqx-review-board

fix(cluster): update `ekka` to 0.23.2
  mix.exs
Owners: @emqx/emqx-review-board

chore: add changelog entry
  changes/ee/fix-16123.en.md
Owners: none

feat: bump greptimedb and its ingester version
  .ci/docker-compose-file/docker-compose-greptimedb.yaml
  apps/emqx_bridge_greptimedb/mix.exs
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb_connector.erl
  changes/ee/feat-16121.en.md
Owners: @emqx/emqx-review-board

chore: refine changelog entry
  changes/ee/fix-16123.en.md
Owners: none

perf(ds_otx): Use simple receive for otx process
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  apps/emqx_durable_storage/test/perf_testing.org
Owners: @ieQu1

refactor(ds_otx): Support hot patching
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx_internals.hrl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx_wrapper.erl
  changes/ee/fix-16105.en.md
Owners: @emqx/emqx-review-board, @ieQu1

fix(retainer): continue delivering messages after dispatch rate limit
  apps/emqx_retainer/src/emqx_retainer.app.src
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_sup.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
  changes/ee/fix-16125.en.md
Owners: @emqx/emqx-review-board

chore: delete unused bpapi
  apps/emqx/priv/bpapi.versions
  apps/emqx/test/emqx_bpapi_static_checks.erl
  apps/emqx_retainer/src/proto/emqx_retainer_proto_v1.erl
Owners: @emqx/emqx-review-board

fix: invalid string value in greptimedb connector
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb_connector.erl
  apps/emqx_bridge_greptimedb/test/emqx_bridge_greptimedb_SUITE.erl
Owners: @emqx/emqx-review-board

docs: add changes/ee/feat-16127.en.md
  changes/ee/feat-16127.en.md
Owners: none

chore: Improve changelog
  changes/ee/fix-16105.en.md
Owners: none

feat(api-conf): unhide soft-hidden `trace` configuration root
  apps/emqx_conf/src/emqx_conf_cli.erl
Owners: @emqx/emqx-review-board

chore(test): drop legacy testing harness leftovers
  apps/emqx_dashboard/test/emqx_dashboard_haproxy_SUITE.erl
  apps/emqx_dashboard/test/emqx_dashboard_https_SUITE.erl
  apps/emqx_management/test/emqx_mgmt_api_test_util.erl
  apps/emqx_rule_engine/test/emqx_rule_engine_SUITE.erl
  apps/emqx_telemetry/test/emqx_telemetry_api_SUITE.erl
Owners: @emqx/emqx-review-board, @JimMoen

test(api-rebalance): drop usage of legacy testing facilities
  apps/emqx_node_rebalance/test/emqx_node_rebalance_api_SUITE.erl
Owners: @emqx/emqx-review-board

test(api-conf): drop outdated test case
  apps/emqx_management/test/emqx_mgmt_api_configs_SUITE.erl
Owners: @emqx/emqx-review-board

fix(api-conf): mark error responses as `application/json`
  apps/emqx_management/src/emqx_mgmt_api_configs.erl
Owners: @emqx/emqx-review-board

fix(cli-conf): validate configuration to be updated first
  apps/emqx_conf/src/emqx_conf_cli.erl
  apps/emqx_management/test/emqx_mgmt_api_configs_SUITE.erl
Owners: @emqx/emqx-review-board

test(slow-subs): fix test case
  apps/emqx_slow_subs/test/emqx_slow_subs_api_SUITE.erl
Owners: @emqx/emqx-review-board

fix(cli-conf): use conditional printout functions
  apps/emqx_conf/src/emqx_conf_cli.erl
Owners: @emqx/emqx-review-board

fix(api-conf): handle empty-body config updates
  apps/emqx_management/src/emqx_mgmt_api_configs.erl
  apps/emqx_management/test/emqx_mgmt_api_configs_SUITE.erl
Owners: @emqx/emqx-review-board

test(api-conf): simpify test suite helpers and assertions
  apps/emqx_management/test/emqx_mgmt_api_configs_SUITE.erl
  apps/emqx_management/test/emqx_mgmt_api_test_util.erl
Owners: @emqx/emqx-review-board

fix(config): do not silently skip unknown root in `fill_defaults/2`
  apps/emqx/src/emqx_config.erl
Owners: @emqx/emqx-review-board

refactor(ds): Remove obsolete DS options
  apps/emqx/src/emqx_ds_shared_sub/emqx_ds_shared_sub_dl.erl
  apps/emqx/src/emqx_persistent_message.erl
  apps/emqx/src/emqx_persistent_session_ds/emqx_persistent_session_ds_state.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_machine.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/test/perf_testing.org
  apps/emqx_durable_timer/src/emqx_durable_timer.erl
  apps/emqx_mq/src/emqx_mq_message_db.erl
  apps/emqx_mq/src/emqx_mq_state_storage.erl
Owners: @emqx/emqx-review-board, @ieQu1

feat(ds): Allow dynamic re-configuration of DB settings
  apps/emqx/src/emqx_config_handler.erl
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx/src/emqx_persistent_message.erl
Owners: @emqx/emqx-review-board

fix(redis): upgrade eredis_cluster app from version 0.8.8 to 0.8.9
  apps/emqx_connector/mix.exs
  apps/emqx_redis/mix.exs
  apps/emqx_redis/rebar.config
  changes/ee/fix-16131.en.md
Owners: @emqx/emqx-review-board, @JimMoen

feat(ds): Allow dynamic reconfiguration of MQ-related DBs
  apps/emqx/include/emqx_persistent_message.hrl
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx/src/emqx_ds_shared_sub/emqx_ds_shared_sub_dl.erl
  apps/emqx/src/emqx_persistent_session_ds/emqx_persistent_session_ds_state.erl
  apps/emqx/src/emqx_persistent_session_ds/emqx_persistent_session_ds_state_v2.erl
  apps/emqx/src/emqx_persistent_session_ds/session_internals.hrl
  apps/emqx_durable_timer/src/internals.hrl
  apps/emqx_mq/src/emqx_mq_internal.hrl
  apps/emqx_mq/src/emqx_mq_state_storage.erl
  apps/emqx_utils/include/emqx_ds_dbs.hrl
Owners: @emqx/emqx-review-board, @ieQu1

chore: report disconnected status if redis connector failed to PING
  apps/emqx_redis/src/emqx_redis.app.src
  apps/emqx_redis/src/emqx_redis.erl
Owners: @emqx/emqx-review-board

feat: add client stats dump ctl command
  apps/emqx_management/src/emqx_management.app.src
  apps/emqx_management/src/emqx_mgmt_cli.erl
Owners: @emqx/emqx-review-board

feat: add emqx_util_csv module to help escap csv string value fields
  apps/emqx_management/src/emqx_mgmt_cli.erl
  apps/emqx_utils/src/emqx_utils.app.src
  apps/emqx_utils/src/emqx_utils_csv.erl
  apps/emqx_utils/test/emqx_utils_csv_tests.erl
Owners: @emqx/emqx-review-board

feat(ds): Explicit update of OTX config
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx/test/emqx_persistent_messages_SUITE.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  changes/ee/fix-16129.en.md
Owners: @emqx/emqx-review-board, @ieQu1

fix(trace): ensure creating new trace is backward-compatible
  apps/emqx/src/emqx_trace/emqx_trace_dl.erl
  apps/emqx_management/src/emqx_mgmt_api_trace.erl
Owners: @emqx/emqx-review-board

chore: delete unused bpapi
  apps/emqx/priv/bpapi.versions
  apps/emqx/test/emqx_bpapi_static_checks.erl
  apps/emqx_retainer/src/proto/emqx_retainer_proto_v1.erl
Owners: @emqx/emqx-review-board

test(trace): verify creating traces is backward compatible
  apps/emqx/test/emqx_trace_SUITE.erl
Owners: @emqx/emqx-review-board

chore: add changelog entry
  changes/ee/fix-16134.en.md
Owners: none

feat: add centralized certificate management api
  apps/emqx/priv/bpapi.versions
  apps/emqx_conf/include/emqx_conf_certs.hrl
  apps/emqx_conf/src/emqx_conf_app.erl
  apps/emqx_conf/src/emqx_conf_certs.erl
  apps/emqx_management/mix.exs
  apps/emqx_management/src/emqx_mgmt_api_certs.erl
  apps/emqx_management/src/proto/emqx_mgmt_api_certs_proto_v1.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
  changes/ee/feat-16132.en.md
  rel/i18n/emqx_mgmt_api_certs.hocon
Owners: @emqx/emqx-review-board

feat(quic): support dgram state changed
  apps/emqx/src/emqx_quic_connection.erl
  apps/emqx/test/emqx_quic_multistreams_SUITE.erl
Owners: @emqx/emqx-review-board

docs: add changelog.
  changes/ee/feat-16133.en.md
Owners: none

feat(dashboard monitor): add `rules.matched` and `actions.executed` rates
  apps/emqx/src/emqx_metrics.erl
  apps/emqx_bridge/test/emqx_bridge_v2_SUITE.erl
  apps/emqx_dashboard/include/emqx_dashboard.hrl
  apps/emqx_dashboard/src/emqx_dashboard_monitor.erl
  apps/emqx_dashboard/src/emqx_dashboard_monitor_api.erl
  apps/emqx_resource/src/emqx_resource_buffer_worker.erl
  apps/emqx_rule_engine/src/emqx_rule_runtime.erl
  rel/i18n/emqx_dashboard_monitor_api.hocon
Owners: @emqx/emqx-review-board, @JimMoen

feat(ds): Introduce DB group concept
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_db_sup.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_db_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_sup.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_db_group_mgr.erl
  apps/emqx_durable_storage/src/emqx_ds_lib.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/src/emqx_ds_sup.erl
Owners: @ieQu1

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes
