Repository emqx/emqx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @emqx/emqx-review-board, @JimMoen, @ieQu1, @Rory-Z, @Meggielqk

.github/CODEOWNERS:

## Default
* @emqx/emqx-review-board

# emqx-review-board members
## HJianBo
## id
## ieQu1
## keynslug
## qzhuyan
## savonarola
## terry-xiaoyu
## thalesmg
## zhongwencool
## zmstone

## apps
/apps/emqx_auth/           @emqx/emqx-review-board @JimMoen
/apps/emqx_connector/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard/      @emqx/emqx-review-board @JimMoen
/apps/emqx_dashboard_sso/  @emqx/emqx-review-board @JimMoen
/apps/emqx_exhook/         @emqx/emqx-review-board @JimMoen
/apps/emqx_plugins/        @emqx/emqx-review-board @JimMoen
/apps/emqx_prometheus/     @emqx/emqx-review-board @JimMoen
/apps/emqx_statsd/         @emqx/emqx-review-board @JimMoen
/apps/emqx_durable_storage/ @ieQu1
/apps/emqx_ds_builtin_local/ @ieQu1
/apps/emqx_ds_builtin_raft/ @ieQu1
/apps/emqx_ds_backends/ @ieQu1
/apps/emqx/src/emqx_persistent_session_ds/ @ieQu1

## CI
/deploy/  @emqx/emqx-review-board @Rory-Z

## @Meggielqk owns all files in any i18n directory anywhere in the project
/i18n/ @Meggielqk

## no owner for changelogs, anyone can approve
/changes

feat(managed certs): add support for referencing managed certs in client and server ssl opts
  apps/emqx/src/emqx_managed_certs.erl
  apps/emqx/src/emqx_schema.erl
  apps/emqx/src/emqx_tls_lib.erl
  apps/emqx/src/proto/emqx_managed_certs_proto_v1.erl
  apps/emqx/test/emqx_cth_tls.erl
  apps/emqx/test/emqx_listeners_SUITE.erl
  apps/emqx_bridge/test/emqx_bridge_v2_testlib.erl
  apps/emqx_bridge_http/test/emqx_bridge_http_SUITE.erl
  apps/emqx_management/test/emqx_mgmt_api_certs_SUITE.erl
  changes/ee/feat-16154.en.md
  rel/i18n/emqx_schema.hocon
Owners: @emqx/emqx-review-board

ci(eunit): support handling generators that have a setup
  apps/emqx_mix_utils/lib/mix/tasks/emqx.eunit.ex
Owners: @emqx/emqx-review-board

feat(ds): Add metrics for DS groups
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_durable_storage/include/emqx_ds_metrics.hrl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_builtin_metrics.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_prometheus/src/emqx_prometheus.erl
Owners: @emqx/emqx-review-board, @ieQu1, @JimMoen

fix(ds): Rename emqx_ds_total_size metric to emqx_ds_disk_usage
  apps/emqx_durable_storage/include/emqx_ds_metrics.hrl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_builtin_metrics.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_prometheus/src/emqx_prometheus.erl
  changes/ee/feat-16136.en.md
Owners: @ieQu1, @emqx/emqx-review-board, @JimMoen

fix(ds): Fix grammar in the schema docs
  rel/i18n/emqx_ds_schema.hocon
Owners: @emqx/emqx-review-board

fix(ds): Fix dialyzer issues
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
Owners: @ieQu1

fix(sessds): Raise session checkpoint interval to 15s
  apps/emqx/src/emqx_schema.erl
  changes/ee/feat-16136.en.md
Owners: @emqx/emqx-review-board

docs: complete internationalization of emqx_authz_api_cache module
  apps/emqx_auth/src/emqx_authz/emqx_authz_api_cache.erl
  rel/i18n/emqx_authz_api_cache.hocon
Owners: @emqx/emqx-review-board, @JimMoen

fix(resource): Handle already started and present errors in ensure_child
  apps/emqx_resource/src/emqx_resource_manager_sup.erl
Owners: @emqx/emqx-review-board

chore: bump rel vsn to 6.0.1-alpha.2
  apps/emqx/include/emqx_release.hrl
  deploy/charts/emqx-enterprise/Chart.yaml
Owners: @emqx/emqx-review-board, @Rory-Z

feat(limiter): make behaviour of exclusive timers less confusing
  apps/emqx/src/emqx_limiter/src/emqx_limiter_exclusive.erl
  changes/ee/fix-16160.en.md
Owners: @emqx/emqx-review-board

feat(mq): cover metric accessors with tests
  apps/emqx_mq/test/emqx_mq_SUITE.erl
Owners: @emqx/emqx-review-board

feat(mq): run gc in non-conflicting transactions
  apps/emqx_mq/src/emqx_mq_gc/emqx_mq_gc_worker.erl
  apps/emqx_mq/src/emqx_mq_message_db.erl
Owners: @emqx/emqx-review-board

feat(mq): implement message count/total byte size limits for queues
  apps/emqx_mq/asn.1/MessageQueue.asn
  apps/emqx_mq/mix.exs
  apps/emqx_mq/src/emqx_mq.erl
  apps/emqx_mq/src/emqx_mq_api.erl
  apps/emqx_mq/src/emqx_mq_app.erl
  apps/emqx_mq/src/emqx_mq_consumer/emqx_mq_consumer.erl
  apps/emqx_mq/src/emqx_mq_gc/emqx_mq_gc_worker.erl
  apps/emqx_mq/src/emqx_mq_internal.hrl
  apps/emqx_mq/src/emqx_mq_message_db.erl
  apps/emqx_mq/src/emqx_mq_message_quota_buffer.erl
  apps/emqx_mq/src/emqx_mq_message_quota_index.erl
  apps/emqx_mq/src/emqx_mq_metrics.erl
  apps/emqx_mq/src/emqx_mq_prop.erl
  apps/emqx_mq/src/emqx_mq_registry.erl
  apps/emqx_mq/src/emqx_mq_schema.erl
  apps/emqx_mq/src/emqx_mq_state_storage.erl
  apps/emqx_mq/src/emqx_mq_sub.erl
  apps/emqx_mq/src/emqx_mq_sup.erl
  apps/emqx_mq/src/emqx_mq_types.erl
  apps/emqx_mq/test/emqx_mq_SUITE.erl
  apps/emqx_mq/test/emqx_mq_api_SUITE.erl
  apps/emqx_mq/test/emqx_mq_gc_SUITE.erl
  apps/emqx_mq/test/emqx_mq_message_quota_index_SUITE.erl
  apps/emqx_mq/test/emqx_mq_test_utils.erl
  apps/emqx_utils/src/emqx_metrics_worker.erl
  apps/emqx_utils/src/emqx_utils_metrics.erl
  changes/ee/feat-16152.en.md
  rel/i18n/emqx_mq_schema.hocon
Owners: @emqx/emqx-review-board

feat(mq): improve mq limit description
  rel/i18n/emqx_mq_schema.hocon
Owners: @emqx/emqx-review-board

feat(mq): improve limit-related comments and descriptions
  apps/emqx_mq/src/emqx_mq_message_quota_index.erl
  apps/emqx_mq/src/emqx_mq_registry.erl
  apps/emqx_mq/src/emqx_mq_schema.erl
  changes/ee/feat-16152.en.md
Owners: @emqx/emqx-review-board

feat(mq): make update records more compact
  apps/emqx_mq/src/emqx_mq_internal.hrl
  apps/emqx_mq/src/emqx_mq_message_db.erl
  apps/emqx_mq/src/emqx_mq_message_quota_index.erl
  apps/emqx_mq/test/emqx_mq_message_quota_index_SUITE.erl
Owners: @emqx/emqx-review-board

perf(list clients v2): disable repeatedly counting totals
  apps/emqx_management/src/emqx_mgmt_api.erl
  apps/emqx_management/src/emqx_mgmt_api_clients.erl
  changes/ee/perf-16165.en.md
Owners: @emqx/emqx-review-board

feat(mq): add jitter for quota buffer flushing
  apps/emqx_mq/src/emqx_mq_message_quota_buffer.erl
  apps/emqx_mq/test/emqx_mq_gc_SUITE.erl
Owners: @emqx/emqx-review-board

docs(retainer): change descriptions
  rel/i18n/emqx_retainer_schema.hocon
Owners: @emqx/emqx-review-board

feat(channel): handle log request messages
  apps/emqx/src/emqx_channel.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
Owners: @emqx/emqx-review-board

chore(banned): fix tests
  apps/emqx/test/data/banned/error.csv
  apps/emqx/test/data/banned/full.csv
  apps/emqx/test/data/banned/full2.csv
  apps/emqx/test/data/banned/omitted.csv
  apps/emqx/test/emqx_banned_SUITE.erl
Owners: @emqx/emqx-review-board

chore(banned): fix tests
  apps/emqx/test/data/banned/error.csv
  apps/emqx/test/data/banned/full.csv
  apps/emqx/test/data/banned/full2.csv
  apps/emqx/test/data/banned/omitted.csv
  apps/emqx/test/emqx_banned_SUITE.erl
Owners: @emqx/emqx-review-board

chore(ps ds): reduce level of log message
  apps/emqx/src/emqx_persistent_session_ds.erl
Owners: @emqx/emqx-review-board

docs: improve descriptions
  rel/i18n/emqx_schema.hocon
Owners: @emqx/emqx-review-board

test(ds ps): fix helper fn
  apps/emqx/test/emqx_persistent_session_ds_SUITE.erl
Owners: @emqx/emqx-review-board

perf(list clients v2): disable repeatedly counting totals
  apps/emqx_management/src/emqx_mgmt_api.erl
  apps/emqx_management/src/emqx_mgmt_api_clients.erl
  changes/ee/perf-16165.en.md
Owners: @emqx/emqx-review-board

chore: delete unused bpapi
  apps/emqx/priv/bpapi.versions
  apps/emqx_bpapi/test/emqx_bpapi_static_checks.erl
  apps/emqx_retainer/src/proto/emqx_retainer_proto_v1.erl
Owners: @emqx/emqx-review-board

fix(retainer): change retainer iteration flow to allow iteration when hitting rate limit
  apps/emqx/src/emqx_channel.erl
  apps/emqx/src/emqx_hookpoints.erl
  apps/emqx/src/emqx_hooks.erl
  apps/emqx/src/emqx_persistent_session_ds.erl
  apps/emqx/test/emqx_channel_hookpoints_SUITE.erl
  apps/emqx_mq/src/emqx_mq.erl
  apps/emqx_retainer/src/emqx_retainer.erl
  apps/emqx_retainer/src/emqx_retainer_dispatcher.erl
  apps/emqx_retainer/src/emqx_retainer_mnesia.erl
  apps/emqx_retainer/src/emqx_retainer_schema.erl
  apps/emqx_retainer/test/emqx_retainer_SUITE.erl
  apps/emqx_retainer/test/emqx_retainer_dummy.erl
  changes/ee/fix-16137.en.md
  rel/i18n/emqx_retainer_schema.hocon
Owners: @emqx/emqx-review-board

fix(tls gc): take namespaced configs into account when collecting orphans
  apps/emqx/src/emqx_tls_certfile_gc.erl
  apps/emqx/test/emqx_tls_certfile_gc_SUITE.erl
  changes/ee/fix-16175.en.md
Owners: @emqx/emqx-review-board

style: fix more of elvis' useless nits
  apps/emqx/src/emqx_tls_certfile_gc.erl
Owners: @emqx/emqx-review-board

ci: fix docker workflow to not overwrite regular image with sf one
  .github/workflows/_pr_entrypoint.yaml
  .github/workflows/build_and_push_docker_images.yaml
  build
Owners: @emqx/emqx-review-board

feat: add `emqx_tables` data integration
  apps/emqx_bridge/test/emqx_bridge_schema_testlib.erl
  apps/emqx_bridge_emqx_tables/docker-ct
  apps/emqx_bridge_emqx_tables/mix.exs
  apps/emqx_bridge_emqx_tables/src/emqx_bridge_emqx_tables.hrl
  apps/emqx_bridge_emqx_tables/src/emqx_bridge_emqx_tables_action_info.erl
  apps/emqx_bridge_emqx_tables/src/emqx_bridge_emqx_tables_action_schema.erl
  apps/emqx_bridge_emqx_tables/src/emqx_bridge_emqx_tables_connector_info.erl
  apps/emqx_bridge_emqx_tables/src/emqx_bridge_emqx_tables_connector_schema.erl
  apps/emqx_bridge_emqx_tables/test/emqx_bridge_emqx_tables_SUITE.erl
  apps/emqx_bridge_greptimedb/mix.exs
  apps/emqx_bridge_greptimedb/src/emqx_bridge_greptimedb.erl
  apps/emqx_bridge_greptimedb/test/emqx_bridge_greptimedb_SUITE.erl
  apps/emqx_gen_bridge/src/emqx_action_info.erl
  apps/emqx_gen_bridge/src/emqx_connector_info.erl
  apps/emqx_machine/priv/reboot_lists.eterm
  changes/ee/feat-16177.en.md
  mix.exs
  rel/i18n/emqx_bridge_emqx_tables_action_schema.hocon
  rel/i18n/emqx_bridge_emqx_tables_connector_schema.hocon
Owners: @emqx/emqx-review-board

chore(iceberg): update parquer -> 0.1.4
  .ci/docker-compose-file/docker-compose-iceberg.yaml
  apps/emqx_bridge_s3tables/mix.exs
  apps/emqx_bridge_s3tables/test/emqx_bridge_s3tables_SUITE.erl
  changes/ee/feat-16169.en.md
Owners: @emqx/emqx-review-board

fix(sessds): Raise session checkpoint interval to 15s
  apps/emqx/src/emqx_schema.erl
  apps/emqx/test/emqx_config_SUITE.erl
  apps/emqx_dashboard/test/emqx_dashboard_monitor_SUITE.erl
  changes/ee/feat-16136.en.md
Owners: @emqx/emqx-review-board, @JimMoen

fix(ds_schema): Fix configuration validation
  apps/emqx/src/emqx_ds_schema.erl
Owners: @emqx/emqx-review-board

fix(ds): Re-check quota periodically
  apps/emqx_ds_backends/test/emqx_ds_backends_SUITE.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
Owners: @ieQu1

chore(ds): Unify formatting
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
Owners: @ieQu1

refactor(ds): Remove DB group lookups from the storage layer
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local_db_sup.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft_db_sup.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_lib.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
  apps/emqx_durable_storage/test/emqx_ds_storage_SUITE.erl
Owners: @ieQu1

feat(ds): Implement soft storage quota
  apps/emqx/src/emqx_ds_schema.erl
  apps/emqx_ds_backends/test/emqx_ds_backends_SUITE.erl
  apps/emqx_ds_builtin_local/src/emqx_ds_builtin_local.erl
  apps/emqx_ds_builtin_raft/src/emqx_ds_builtin_raft.erl
  apps/emqx_durable_storage/src/emqx_ds.erl
  apps/emqx_durable_storage/src/emqx_ds_optimistic_tx.erl
  apps/emqx_durable_storage/src/emqx_ds_storage_layer.erl
Owners: @emqx/emqx-review-board, @ieQu1
